
.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

/* Shared Styles */
.secondary-bg{
    background-color:rgba(13, 19, 33, 0.02);
    /* opacity: 2%; */
    margin: 74px 148px;
    border-radius: 16px;
}
.btn-primary{
    width: 240px;
    height: 55px;
    padding: 17px 24px;
    background-color: white;
    color: #0D1321;
    border: 1px solid #0D1321;
    border-radius: 8px;
    font-weight: 600px;
    font-size: 16px;
}
.text-center{
    text-align: center;
}
.learn-more-btn{
    width: 150px;
    height: 30px;
    border: 1px solid #0D1321;
    opacity: 70%;
    background-color: white;
    color: rgba(13, 19, 33, 1);
    font-weight: 600px;
    font-size: 16px;
    margin-top: 20px;
}
.secondary-bg-2{
    background-image: 
        linear-gradient(rgba(13, 19, 33, 1)),
        linear-gradient(rgba(13, 19, 33, 0.2));
}
/* Nav Styles */
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 150px;
    background-color: white;
    margin-bottom: 36px;
}
nav button{
    width: 200px;
    height: 55px;
    padding: 17px 24px;
    background-color: white;
    color: #0D1321;
    border: 1px solid #0D1321;
    border-radius: 8px;
    font-weight: 600px;
    font-size: 16px;
}
.title{
    font-weight: bolder;
    font-size: 30px;
    color: #0D1321;
}

/* Banner Styles */
.banner-bg{
    background-image: url("../assets/Hero-bg.png");
    width: 100%;
    height: 650px;
    /* margin-top: 36px; */
}
.banner{
    text-align: center;
}
.banner-image{
    margin-top: 26px;
}
.banner-title{
    font-weight: 800px;
    font-size: 48px;
    color: #0D1321;
    margin: 30px 150px 24px 150px;
}
.banner-description{
    width: 850px;
    font-size: 16px;
    color: #0D1321;
    margin: 24px 290px;
    opacity: 70%;
}
.contact-btn{
    width: 200px;
    height: 55px;
    padding: 17px 24px;
    background-color: #0D1321;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: 600px;
    font-size: 16px;
    margin-top: 30px;
}

/* Web development section styles */
.development{
    display: flex;
    gap: 100px;
    /* padding: 48px; */
    background-color: white;
    padding: 48px 30px;
    /* background-image: linear-gradient(to right, ); */
    margin-bottom: 32px;
}
.web-dev{
    padding: 10px 45px;
}
.web-dev-container{
    gap: 20px;
    margin: 0px 95px;
    border: 1px ;
}
.web-title{
    font-weight: 800px;
    font-size: 32px;
    color: #0D1321;
}
.web-description{
    font-size: 16px;
    color: #0D1321;
    /* margin: 24px 290px; */
    margin: 24px 47px 48px;
    opacity: 70%;
}
.content-description{
    font-size: 16px;
    color: #0D1321;
    /* margin: 24px 290px; */
    /* margin: 24px 47px 48px; */
    opacity: 70%;
}
.content-title{
    font-weight: bold;
    font-size: 24px;
    color: #0D1321;
    opacity: 70%;
    line-height: 36px;
}
/* .text-content{
    background-color: white;
    border-radius: 5px;
    padding: 48px 48px;
} */
 main .web-dev img{
    width: 100%;
 }
 
 /* Inspiration styles */
 .inspiration{
    margin: 74px 148px;
 }
 .inspiration-img{
    text-align: center;
 }
.inspiration-img img{
    width: 750px;
    height: 350px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    padding: 32px;
    border-radius: 16px;
    
}

/* current target section */
.current-target{
    margin: 74px 148px;
}
.current-target-container{
    display: flex;
    justify-content: center;
    gap: 24px;
}
.target{
    padding: 40px;
}